#about-section {
  position: relative;
}

#about-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.8) 40%, rgba(247, 185, 128, 0.7) 70%, rgba(237, 152, 95, 0.8) 100%);
  pointer-events: none;
  z-index: 0;
  transition: opacity 0.5s ease-in-out;
}

#about-section > div {
  position: relative;
  z-index: 1;
}

:host-context(.dark) #about-section::before {
  background-image: linear-gradient(to bottom, rgba(67, 35, 35, 0.9) 0%, rgba(67, 35, 35, 0.8) 40%, rgba(113, 90, 90, 0.7) 70%, rgba(113, 90, 90, 0.8) 100%);
}

@media (prefers-color-scheme: dark) {
  .dark #about-section::before {
    background-image: linear-gradient(to bottom, rgba(67, 35, 35, 0.9) 0%, rgba(67, 35, 35, 0.8) 40%, rgba(113, 90, 90, 0.7) 70%, rgba(113, 90, 90, 0.8) 100%);
  }
}
